<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.crazyboy.mapper.LandFavoritesMapper">

    <select id="selectLandIdListByUserId" parameterType="java.lang.Integer" resultType="java.lang.String">
        SElECT land_id
        FROM land_favorites
        WHERE user_id = #{userId}
    </select>
</mapper>
